body{
    background-color: #EBEBEB;
}

.nav-link{
	font-weight:bold!important;
}

.nav-tabs{
	margin-top: 20px!important;
}

.table{
    background-color: #ffffff;
}

.table td, .table th{
    text-align: center;
}

.btn-primary{
    min-width: 89px;
    border-radius: 40px;
    background: #368CA7;
}

.btn-secondary{
    background: #ffffff;
    border-radius: 40px;
    color: #000000;
}

.btn-secondary:focus, .btn-secondary:hover{
    background:#368CA7;
}

.container-opc{
	text-align: center;
    background: #565656;
    border-radius: 1.3rem;
    padding: 15px 35px;
}

.contenedor{
    align-items: center;
    display: flex!important;
    flex-direction: column;
    margin-top: 50px;
}

.btn>a{
    color: #ffffff;
    text-decoration: none;
}

.card>.card-header{
    background: #368CA7;
    color: #ffffff;
}

#preguntas .card>.card-header{
    padding: 0px 16px;
    text-align: right;
}

#preguntas .card{
    margin-bottom: 10px;
}

.btn-quitar-preg{
    background: #368CA7;
    color: #ffffff;
    outline: 0;
    padding: 3px 12px;
}

.btn-quitar-preg:hover{
    outline: 0;
}